*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

img{
  display: block;
  max-width: 100%;
}

b, strong {
  font-weight: 600;
}

.wrap{
  width: 100%;
  max-width: 1240px;
  margin:0 auto;
  padding: 0 15px;
}

.btn {
  display: block;
  margin: 12px;
  padding: 12px 10px;
  text-align: center;
  background: #ddd;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  font-weight: 600;
}

.btn:hover{
  background: #333;
  color: #fff;
}

.btn-orange{
  background: #F39C12;
  color: #fff;
}

.btn-blue{
  background: #0071DC;
  color: #fff;
}

.btn-green{
  background: #27AE60;
  color: #fff;
}


.btn .fa-chevron-right {
  font-size: 10px;
  width: 20px;
  padding: 4px 0px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 5px;
}

#productTable{
  padding: 80px 0px;
}

#productTable ul{
  margin:0;
  padding:0;
}

#productTable ul li {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#productTable ul li.item span.img {
  position: relative;
}

#productTable ul li.item span.badge{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
}

#productTable ul li.title span {
  text-align: center;
  background: #E74C3C;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px;
}

#productTable ul li.item {
  border: 1px solid #eee;
  border-top: 0px solid #eee;
}

#productTable ul li.item span.name h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
}

#productTable ul li.item > span {
  border-right: 1px solid #eee;
  padding: 15px;
  display: grid;
  align-items: center;
}

#productTable ul li.item > span:last-child {
  border-right: 0px solid #eee;
}

#productTable ul li.item span.meta span {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
}

#productTable ul li.item span.meta b {
  color: #E74C3C;
}

#productTable ul li.item span.badge {
  position: absolute;
  left: -12px;
  top: 12px;
  z-index: 9;
  padding: 8px 15px;
  background: #fff;
  border: 2px solid #e74c3c;
  line-height: 1;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  border-top-left-radius: 17px;
  border-bottom-right-radius: 17px;
}

#productTable ul li.item span.badge:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: -2px;
  border-top: 24px solid #e74c3c;
  border-left: 12px solid transparent;
}