/* 
* Global Style
*/

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

img{
  display: block;
  max-width: 100%;
}

b, strong {
  font-weight: 600;
}

.wrap {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}


/* 
* Button Style
*/

.btn {
  display: block;
  margin: 12px;
  padding: 12px 10px;
  text-align: center;
  background: #ddd;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  font-weight: 600;
}

.btn:hover{
  background: #333;
  color: #fff;
}

.btn-green{
  background: #1289A7;
  color: #fff;
}

.btn-blue{
  background: #2800C9;
  color: #fff;
}

.btn .fa-chevron-right {
  font-size: 10px;
  width: 20px;
  padding: 4px 0px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 5px;
}


/* 
* Product Quick View Style
*/

#quickView {
  padding: 80px 0px;
}

#quickView .badge {
  position: absolute;
  left: -20px;
  top: -20px;
  z-index: 9;
  padding: 10px 12px;
  color: #fff;
  border: 2px solid #1B4ABE;
  line-height: 1;
  font-size: 18px;
  font-weight: 800;
  background: #1B4ABE;
}

#quickView .badge:after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: -2px;
  border-top: 10px solid #002a91;
  border-left: 13px solid transparent;
  z-index: 9;
}

.product {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  border: 8px solid #3C78F0;
  box-shadow: 0px 0px 5px #3C78F0;
}

.product .thumb, .product .details {
  padding: 50px;
  position: relative;
}

.product .details .title {
  color: #3C78F0;
  text-decoration: underline;
}

.product .bookmark {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 18px;
  color: #000;
  cursor: pointer;
  transition: 0.3s;
}

.product .bookmark:hover {
  color: #d6363c;
}

.product .details .button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.product .details .btn{
  margin-left: 0;
  margin-right: 0;
}

.product .details p {
  margin: 15px 0px;
}

.product .specs {
  margin-top: 25px;
}

.product .specs h4 {
  margin-bottom: 15px;
  color: #d6363c;
}

.product .specs ul li {
  list-style: none;
  margin-bottom: 5px;
}