*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

img{
  display: block;
  max-width: 100%;
}

b, strong {
  font-weight: 600;
}

.wrap{
  width: 100%;
  max-width: 1240px;
  margin:0 auto;
  padding: 0 15px;
}

.btn {
  display: block;
  margin: 12px;
  padding: 12px 10px;
  text-align: center;
  background: #ddd;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  font-weight: 600;
}

.btn:hover{
  background: #333;
  color: #fff;
}

.btn-blue{
  background: #001C8A;
  color: #fff;
}

.btn-red{
  background: #E74C3C;
  color: #fff;
}

.btn .fa-chevron-right {
  font-size: 10px;
  width: 20px;
  padding: 4px 0px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 5px;
}

#productTable{
  padding: 80px 0px;
  background: #FDFDFD;
}

#productTable ul.products {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

#productTable ul li {
  list-style: none;
}

#productTable ul.products li.item {
  display: grid;
  align-items: flex-start;
  box-shadow: 0px 0px 8px #00000014;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  padding: 20px 0px;
}

#productTable ul li.item .badge {
  padding: 12px 8px 8px 15px;
  color: #fff;
  text-align: center;
  background: #3498DB;
}

#productTable ul li.item .badge span {
  line-height: 1;
  font-weight: 600;
}

#productTable ul.products .itemTop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
}

#productTable ul li.item .ratingBox {
  background: #D5D6E8;
  border-radius: 50%;
  text-align: center;
  padding: 9px 0;
  width: 70px;
  margin-left: auto;
}

#productTable ul li.item .ratingBox .ratingNumber {
  border: 3px solid #2B348E;
  border-radius: 50%;
  width: 52px;
  display: block;
  margin: 0 auto;
  padding: 11px 0;
  font-weight: 800;
  color: #2B348E;
}

#productTable ul.products li.item .title {
  text-align: center;
  margin-bottom: 20px;
}

#productTable ul.products li.item span.line {
  background: #3498db;
  width: 50px;
  height: 2px;
  display: block;
  margin: 0 auto 12px;
}

#productTable ul.products li.item .thumb {
  align-self: center;
  max-width: 250px;
  margin: 25px auto;
  padding: 15px;
}

#productTable ul.products ul.details{
  margin-bottom: 25px;
}

#productTable ul.products ul.details li {
  padding: 6px 28px;
  font-size: 14px;
}

#productTable ul.products ul.details .fa{
  color: #3498DB;
}

#productTable ul.products li.item .buttons {
  padding: 0px 15px;
}