/* 
* Global Style
*/

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

img{
  display: block;
  max-width: 100%;
}

b, strong {
  font-weight: 600;
}

.wrap{
  width: 100%;
  max-width: 1240px;
  margin:0 auto;
  padding: 0 15px;
}


/* 
* Button Style
*/

.btn {
  display: block;
  margin: 12px;
  padding: 12px 10px;
  text-align: center;
  background: #ddd;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s;
  line-height: 1;
  font-weight: 600;
}

.btn:hover{
  background: #333;
  color: #fff;
}

.btn-red{
  background: #F39C12;
  color: #fff;
}

.btn-blue{
  background: #005CB3;
  color: #fff;
}

.btn .fa-chevron-right {
  font-size: 10px;
  width: 20px;
  padding: 4px 0px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: 5px;
}


/* 
* Product Table Style
*/

#productTable{
  padding: 80px 0px;
}

#productTable ul{
  margin:0;
  padding:0;
}

#productTable ul li {
  list-style: none;
  display: grid;
  grid-template-columns: calc(3 / 12 * 100%) calc(5 / 12 * 100%) calc(1.5 / 12 * 100%) calc(2.5 / 12 * 100%);
}

#productTable ul li.item span.img {
  position: relative;
}

#productTable ul li.item span.badge {
  position: absolute;
  left: 0;
  top: 12px;
  z-index: 9;
  padding: 5px 15px;
  color: #fff;
  border: 2px solid #148F77;
  line-height: 1;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  background: #148F77;
}

#productTable ul li.title span {
  text-align: center;
  background: #148F77;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px;
}

#productTable ul li.item {
  border: 1px solid #eee;
  border-top: 0px solid #eee;
}

#productTable ul li.item span.name h3 {
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 15px;
}

#productTable ul li.item span.meta {
  display: grid;
}
#productTable ul li.item span.meta > span {
  margin-bottom: 10px;
}

#productTable ul li.item span.meta > span b i {
  font-style: normal;
  font-size: 18px;
  color: #148F77;
}

#productTable ul li.item > span {
  padding: 15px;
  display: grid;
  align-items: center;
}

#productTable ul li.item > span:last-child {
  border-right: 0px solid #eee;
}

#productTable ul li.item span.rating {
  justify-content: center;
}

span.ratingBox {
  background: #D5D6E8;
  border-radius: 50%;
  text-align: center;
  padding: 9px 0;
  width: 70px;
  margin:0 auto;
}

span.ratingBox span.ratingNumber {
  border: 3px solid #148F77;
  border-radius: 50%;
  width: 52px;
  display: block;
  margin: 0 auto;
  padding: 11px 0;
  font-weight: 800;
  color: #148F77;
}

span.rating-star {
  font-size: 14px;
  margin-top: 10px;
  display: inline-block;
}

span.rating-star i.fa-star{
  color: #FFC107;
}